version: '2'
services:
    server:
        image: nginx:latest
        container_name: nginx
        ports:
           - "8080:80"
        volumes:
           - ./src:/var/www/deployment
           - ./nginx/base.conf:/etc/nginx/conf.d/base.conf
        links:
           - php
    php:
        build: docker/php
        container_name: alpine-php7
        volumes:
          - ./src:/var/www/deployment
        links:
          - db
    db:
        image: mysql:latest
        container_name: mysql
        environment:
           MYSQL_ROOT_PASSWORD: dockerisgreat
           MYSQL_USER: docker
           MYSQL_PASSWORD: docker
           MYSQL_DATABASE: docker_db
        ports:
          - "3306:3306"
